flows/Take_Attendance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Adds loop created items to the output variable.</description>
        <name>addToOutput</name>
        <label>addToOutput</label>
        <locationX>396</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>outputServiceDeliveries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceDelivery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDetermineIfPresent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Service Delivery Fields for those absent. 0 quantity = absent.</description>
        <name>assignAbsentServiceDeliveryFields</name>
        <label>assignAbsentServiceDeliveryFields</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__DeliveryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__ProgramEngagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDetermineIfPresent.pmdm__ProgramEngagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDetermineIfPresent.pmdm__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radioNoShowVsExcused</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.pmdm__ServiceSchedule__r.pmdm__Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__ServiceSession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToOutput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sets Service Delivery Fields for those that attended. 1 quantity=attended</description>
        <name>assignAttendedServiceDeliveryFields</name>
        <label>assignAttendedServiceDeliveryFields</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDetermineIfPresent.pmdm__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__DeliveryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__ProgramEngagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDetermineIfPresent.pmdm__ProgramEngagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.pmdm__ServiceSchedule__r.pmdm__Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceDelivery.pmdm__ServiceSession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToOutput</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceExcused</name>
        <choiceText>Excused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Absent - Excused</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNoShow</name>
        <choiceText>No Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Absent - No Show</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision: Was this Participant selected during the attendance taking screen?</description>
        <name>isSelectedAsAttended</name>
        <label>isSelectedAsAttended</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>screenAbsentType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Absent</defaultConnectorLabel>
        <rules>
            <name>Was_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Present</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopDetermineIfPresent.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAttendedServiceDeliveryFields</targetReference>
            </connector>
            <label>Was Present</label>
        </rules>
    </decisions>
    <description>Takes attendance of a Service Session via a screen flow</description>
    <dynamicChoiceSets>
        <description>stores relevant Service Participants related to the parent Service Schedule as a record choice set</description>
        <name>serviceParticipantsRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__ServiceSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.pmdm__ServiceSchedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__SignUpDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.Start_Date__c</elementReference>
            </value>
        </filters>
        <object>pmdm__ServiceParticipant__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Take Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Take Attendance</label>
    <loops>
        <description>Loops through the Service Participant records from the previous screen.</description>
        <name>loopDetermineIfPresent</name>
        <label>loopDetermineIfPresent</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>getRelatedServiceParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isSelectedAsAttended</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createServiceDeliveries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates mass attendance records as Service Deliveries</description>
        <name>createServiceDeliveries</name>
        <label>createServiceDeliveries</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <inputReference>outputServiceDeliveries</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets record details about the Service Session that kicks off the Flow.</description>
        <name>getCurrentServiceSessionInfo</name>
        <label>Get Current Service Session record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedServiceParticipants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pmdm__ServiceSession__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds all Service Participants from the parent Service Schedule</description>
        <name>getRelatedServiceParticipants</name>
        <label>Find related Service Participants</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>displayRoster</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__ServiceSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.pmdm__ServiceSchedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__SignUpDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>getCurrentServiceSessionInfo.Start_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pmdm__ServiceParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays the roster of Service Participants for this Service Session</description>
        <name>displayRoster</name>
        <label>displayRoster</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopDetermineIfPresent</targetReference>
        </connector>
        <fields>
            <name>Present</name>
            <choiceReferences>serviceParticipantsRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Those in Attendance</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Use shift/control/command keys to select multiple individuals. &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Ask what type of absence this Service Participant had during this Service Session.</description>
        <name>screenAbsentType</name>
        <label>screenAbsentType</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignAbsentServiceDeliveryFields</targetReference>
        </connector>
        <fields>
            <name>textContact</name>
            <fieldText>&lt;p&gt;{!loopDetermineIfPresent.Contact_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioNoShowVsExcused</name>
            <choiceReferences>choiceNoShow</choiceReferences>
            <choiceReferences>choiceExcused</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Absence Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentServiceSessionInfo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>output variable</description>
        <name>outputServiceDeliveries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>pmdm__ServiceDelivery__c</objectType>
    </variables>
    <variables>
        <description>record Id of the Service Session that kicked this off.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>service delivery variable used in the loop</description>
        <name>varServiceDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pmdm__ServiceDelivery__c</objectType>
    </variables>
</Flow>
